.dex-card {
  background-image: url(/assets/temtemcard-large.png);
  background-size: 100% 100%;
  border: none !important;
}

.carousel-container {
  overflow: hidden;
  // Center screen middle
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);

  .carousel-temtem-item {
    height: 70vh;
    max-height: 550px;

    ul {
      padding: 0;
      margin: auto;
    }

    p {
      font-size: 1.5em;
      font-weight: 600;
    }

    .temtem-image {
      display: block;
      width: 70%;
      height: 50%;
      margin: auto;
    }

    .types {
      img {
        width: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 599px) {

  .carousel-container {
    .carousel-temtem-item {
      max-height: 65vh;
    }
  }

}

