<p class="text-center">Gender</p>
<div class="gender-selector text-center">
<input type="radio" name="option" id="genderFemale" (change)="genderChange('female')">
<label for="genderFemale">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x female"></i>
    <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
  </span>
</label>
<input type="radio" name="option" id="genderMale" (change)="genderChange('male')" checked />
<label for="genderMale">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x male"></i>
    <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
  </span>
</label>
</div>
