@import "../../theme.scss";

.card-icon {
  margin: auto;
  margin-top: -2em;
  height: 5%;

  img {
    width: 7em;
    display: block;
    margin: auto;
  }
}

.main-container {
  padding: 5em;
}

.profile-card {
  position: relative;
}

.discord-avatar {
  width: 70%;
}

.temtem-card {
  // display: flex;
  .card-icon {
    img {
      width: 11em;
    }
  }

  .card-content {
    .form-control, input, .md-form > label {
      color: $primary-color !important;
    }

    .md-form input[type=text]:focus:not([readonly]) + label {
      color: $primary-color;
      border-bottom: $primary-color !important;
    }

    input[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid $primary-color !important;
      box-shadow: 0 1px 0 0 $primary-color !important;
    }

    input {
      border-color: $primary-color !important;
    }

    button {
      background-color: $primary-color;
    }
  }
}

.discord-card {
  .md-form > label {
    color: whitesmoke;
  }

  background-color: #525252;
  color: whitesmoke;
}

.card-content {
  width: 90%;
  margin: auto;
}



