@import "../../theme.scss";

.marged {
  margin: 5em auto auto auto;
  width: 100%;
  min-width: 10em;
}

.row {
  margin: auto !important;
}

.card {
  display: block !important;
  max-width: 25em;
  transition: background-color 0.25s linear;
}

.card:hover {
  background-color: rgba($primary-color, .99);
  cursor: pointer;
}

.corner-top-left {
  border-radius: 10px 0 0 0 !important;
}

.corner-top-right {
  border-radius: 0 10px 0 0 !important;
}

.corner-bot-left {
  border-radius: 0 0 0 10px !important;
}

.corner-bot-right {
  border-radius: 0 0 10px 0 !important;
}

.option {
  background-color: rgba(darken($primary-color, 5%), .96);
}

.card-icon {
  width: 50%;
  height: 50%;
  margin-top: 1.5em;
  margin-bottom: .25em;
}

.card-icon-sm {
  width: 43%;
  height: 43%;
  margin-top: 2em;
  margin-bottom: .25em;
}

.card-text {
  margin-top: .75em;
}

.card-text-sm {
  margin-top: 1.25em;
}

h4 {
  color: $accent-color;
  margin-bottom: .75em;
  font-weight: 900;
}

.dark {
  color: whitesmoke;
}

@media screen and (max-width: 767px) {

  .card {
    border-radius: 10px !important;
    margin-top: 1em;
  }
}
