.container {
    margin-top: auto;
}

.marged {
    margin: 5em auto auto auto;
    width: 100%;
    min-width: 20em;
}

.card {
    margin: 1em;
}

.tempedia {
    background-color: #4f4f4f !important;
}

.teamplanner {
    background-color: #cd6155  !important;
}

.tournaments {
    background-color: #4284f3 !important;
}

.map {
    background-color: #2ecc71  !important;
}

.card-icon {
    color: whitesmoke;
    margin-top: .25em;
    margin-bottom: .25em;
}

h4 {
    color: whitesmoke;
    margin-bottom: .75em;
}

.dark {
    color: whitesmoke;
}