@import "../../../theme.scss";

.profile-card {
  position: relative;
}

.temtem-card {
  .card-icon {
    img {
      width: 11em;
    }
  }

  .temtem-avatar {
    width: 70%;
  }

  .card-content {
    .form-control, input, .md-form > label {
      color: $primary-color !important;
    }

    .md-form input[type=text]:focus:not([readonly]) + label {
      color: $primary-color;
      border-bottom: $primary-color !important;
    }

    input[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid $primary-color !important;
      box-shadow: 0 1px 0 0 $primary-color !important;
    }

    input {
      border-color: $primary-color !important;
    }

    button {
      background-color: $primary-color;
    }
  }
}

.card-content {
  width: 90%;
  margin: auto;
}

/* CUSTOM RADIO */
.gender-selector > input[type="radio"] {
  display:none;
}
.gender-selector > input[type="radio"] + label .fa-circle {
  color: silver;
  transition: color .2s ease;
}
.gender-selector > input[type="radio"]:checked + label .male {
  color: deepskyblue;
}
.gender-selector > input[type="radio"]:checked + label .female {
  color: pink;
}

.card-icon {
  margin: auto;
  margin-top: -2em;
  height: 5%;

  img {
    width: 7em;
    display: block;
    margin: auto;
  }
}