@import "../../../theme.scss";

.profile-card {
  position: relative;
}

.temtem-card {
  .card-icon {
    img {
      width: 11em;
    }
  }

  .temtem-avatar {
    width: 70%;
  }

  .card-content {
    .form-control, input, .md-form > label {
      color: none !important;
    }

    .md-form input[type=text]:focus:not([readonly]) + label {
      color: $primary-color;
      border-bottom: none !important;
    }

    input[type=text]:focus:not([readonly]) {
      border-bottom: none !important;
      box-shadow: none !important;
    }

    input {
      border-color: $primary-color !important;
    }

    .username-input {
      width: 100%;
    }

    button {
      background-color: $primary-color;
    }
  }
}

.card-content {
  width: 90%;
  margin: auto;
}

.card-icon {
  margin: auto;
  margin-top: -2em;
  height: 5%;

  img {
    width: 7em;
    display: block;
    margin: auto;
  }
}

mat-option {
  height: 4.5em;

  background-color: lighten($primary-color, 10%);

  p {
    padding: 0;
    margin: 0;
    color: $accent-color;
  }
}

mat-option:hover {
  background-color: lighten($primary-color, 5%) !important;
}

.img-option {
  width: 4em;
  height: 4em;
  display: block;
  margin: auto;
}

.temtem-select {
  width: 100%;
}

.gender-selector-container {
  margin: auto;
}