// General scss:
body {
    margin: 0;
}

// specific scss:
.indigo {
    background-color: transparent;
    background-image:  linear-gradient(rgb(82, 43, 74)90%, #965e7b, #876e8f 10%, rgb(82, 43, 74)90%, #876e8f, #965e7b);
}

.container-outside {
    margin: 0;
    max-width: 100%;
}