// General scss:
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme.scss";

body {
  margin: 0;
  height: 100vh;
}

// specific scss:
.indigo {
  background-color: transparent;
  background-image:  $indigo-gradien;
}

.container-outside {
  margin: 0;
  max-width: 100%;
}