<div class="parallax">
  <div>
    <a href="https://github.com/Mrcel97/TemDevsFE"><img class="logo" src="../../assets/temDevs_logo2.png" alt="temDevs_logo"></a>
  </div>
</div>

<div class=" container border-full">
  <div class="row border-full-front">
    <div class=".col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="card card-borderfull">
        <div class="card-content">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://pbs.twimg.com/media/DjctlnaXcAAPXo2.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card 1</h4>
            <!-- Text -->
            <p class="card-text">info</p>
            <!-- Button -->
            <a href="https://github.com/ScrubMasters" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class=".col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="card card-borderfull">
        <div class="card-content">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" style="width: 100%;" src="https://66.media.tumblr.com/5a33658115556d8e0a7dce5387c3c28d/tumblr_pcqqgy6cmD1vz22o1o1_1280.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- ard content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card 2</h4>
            <!-- Text -->
            <p class="card-text">info</p>
            <!-- Button -->
            <a href="/childrens" class="btn btn-primary">Students</a>
          </div>
        </div>
      </div>
    </div>
    <div class=".col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="card card-borderfull">
        <div class="card-content">
          <div class="view overlay">
            <img class="card-img-top" style="width: 100%;" src="https://d1u5p3l4wpay3k.cloudfront.net/temtem_gamepedia_en/b/b8/012.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card 3</h4>
            <!-- Text -->
            <p class="card-text">info</p>
            <!-- Button -->
            <a href="/alerts" class="btn btn-primary">Alerts</a>

          </div>
        </div>
      </div>
    </div>
    <div class=".col-xl-3 col.lg-4 col-md-6 col-sm-6">
      <div class="card card-borderfull">
        <div class="card-content">
          <div class="view overlay">
            <img class="card-img-top" height="240" src="" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card 3</h4>
            <!-- Text -->
            <p class="card-text">info</p>
            <!-- Button -->
            <a href="/alerts" class="btn btn-primary">Alerts</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>