.parallax {
    /* The image used */
    background-image: url("../../assets/home_bg.png");

    /* Set a specific height */
    height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 1.5em;
}

.title, .description {
    text-align: center;
    margin: auto;
}

.logo {
    position: absolute;
    right: 0px;
    width: 175px;
    margin-top: 48em;
    text-align: right;
}

.title {
    font-size: 5em;
}

.description {
    margin-top: 1em;
    width: 60%;
}

.container {
    max-width: 100%;
    margin: 0;
    margin-top: -1em !important;
}

.row {
    background-color: #372d4a;
}

.card {
    margin-top: 4em !important;
    margin: 2em;
    background-color: #ffc765;
}

.card-content {
    background-color: #ffc765;
    border-radius: 0 0 5px 5px;
}

.card-borderfull {
    background-color: transparent;
    border-top: solid transparent 1em;
    border-image: url(../../assets/card_border2.png);
    border-image-repeat: round;
    border-image-slice: 100% 0 0 0;
}

.border-full-front {
    border-top: solid transparent 2em;
    -webkit-border-image: url(../../assets/div_border.png) 45 stretch;
    -o-border-image: url(../../assets/div_border.png) 45 stretch;
    border-image: url(../../assets/div_border.png) 45 stretch;
    border-image-repeat: round;
    border-image-slice: 100% 0 0 0;
}

.border-full {
    border-top: solid transparent 1em;
    -webkit-border-image: url(../../assets/div_border.png) 45 stretch;
    -o-border-image: url(../../assets/div_border.png) 45 stretch;
    border-image: url(../../assets/div_border.png) 45 stretch;
    border-image-repeat: round;
    border-image-slice: 100% 0 0 0;
}

.content {
    margin-top: 7em;
}

.image-content {
    margin: 5em auto;
}

.icon {
    width: 1.5%;
    margin: 92vh auto auto auto;
}

.parallax > .row {
    max-width: 99vw;
    background-color: transparent;
}