<div class="parallax">
  <div>
    <a href="https://github.com/Mrcel97/TemDevsFE"><img class="logo" src="../../assets/temDevs_logo2.png" alt="temDevs_logo"></a>
  </div>
</div>

<div class=" container border-full">
  <div class="row border-full-front">
    <div class="content image-content .col-6">
      <img src="../../assets/temtem-archipielago.png" alt="temtem_map">
    </div>
    <div class="content .col-6">
      <div class="card card-borderfull">
        <div class="card-content">
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card 1</h4>
            <!-- Text -->
            <p class="card-text">info</p>
            <!-- Button -->
            <a href="https://github.com/ScrubMasters" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>